<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center" data-test-id="page-number-buttons">
    <button *ngFor="let page of getPageNumbers()"
      (click)="fetchCompetitions(page)"
      [class.active]="page===currentPage">
    {{page}}
    </button>
  </section>

  <ul class="mt-50 styled" data-test-id="football-competitions">
    <li class="slide-up-fade-in py-10" *ngFor="let competition of competitions">
      Competition {{competition.name}} won by {{competition.winner}} in year {{competition.year}}
    </li>
  </ul>
</div>
