<div class="layout-row">
  <section class="layout-column align-items-center justify-content-center">
    <input type="text" [(ngModel)]="name" data-test-id="app-input-name" required placeholder="Name" />
    <input type="text" [(ngModel)]="genre" data-test-id="app-input-genre" required placeholder="Genre" />
    <input type="text" [(ngModel)]="creator" data-test-id="app-input-creator" required placeholder="Creator" />

    <form>
      <label>
        <input class="radioButton" [(ngModel)]="type" name="type" type="radio" data-test-id="app-input-book-type" value="Book" />Book
      </label>
      <label>
        <input class="radioButton" [(ngModel)]="type" name="type" type="radio" data-test-id="app-input-song-type" value="Song" />Song
      </label>
    </form>

    <input *ngIf="type === 'Song'" [(ngModel)]="totalTime" type="number" data-test-id="app-input-time" placeholder="Total Time" />
  </section>

  <section class="layout-row justify-content-center align-items-center">
    <button (click)="addItem()" data-test-id="add-button" class="w-30">Add</button>
  </section>
</div>
